<section class="menu" id="menu">
    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> Memon Food Center </h1>
    <div class="box-container">
        <div class="box" *ngFor="let item of menu">
            <div class="image">
                <img [src]="item?.image" alt="">
                <a href="#" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>{{item?.title}}</h3>
                <p>{{item?.description}}</p>
                <a href="#" class="btn">add to cart</a>
                <span class="price">{{'$' + item?.price}}</span>
            </div>
        </div>
    </div>
</section>