<div class="main-div">
    <app-header></app-header>
     <div class="inner-div" >
         <div>
             <router-outlet></router-outlet>
         </div>
     </div>

     <div class="inner-div" >
        <div>
            <app-banner></app-banner>
        </div>
    </div>


     <div class="inner-div"  style="background-color: #eeeeee;">
        <div>
            <app-dishes></app-dishes>
        </div>
    </div>

    <div class="inner-div" >
        <div>
            <app-about></app-about>
        </div>
    </div>

    <div class="inner-div"   style="background-color: #eeeeee;">
        <div>
            <app-menu></app-menu>
        </div>
    </div>

    <div class="inner-div" >
        <div>
            <app-review></app-review>
        </div>
    </div>

    <div class="inner-div" style="background-color: #eeeeee;">
        <div>
            <app-order></app-order>
        </div>
    </div>

    <app-footer></app-footer>

 </div>